body {
  background-color: #232323;
}

.square {
  width: 30%;
  background: red;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#square-container {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  color: white;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
}